<a href="https://colab.research.google.com/github/b1ngster/solar-panel-analysis/blob/main/timeseries-analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
 import pandas as pd

In [8]:
data = pd.read_excel('https://github.com/b1ngster/solar-panel-analysis/raw/main/SolarTrackers2018MiniProject.xlsx')
data

,Date and time,Energy per inverter|IG 60(1) (# 1),Energy per inverter|IG 60(2) (# 2),Total system,Unnamed: 4,Unnamed: 5,Month,Inverter 1,Inverter 2
0,[dd.MM.yyyy],[kWh],[kWh],[kWh],NaN,NaN,January,159.28,138.10
1,2018-01-01 00:00:00,4.61,3.56,8.17,NaN,NaN,February,428.50,382.29
2,2018-01-02 00:00:00,0.56,0.64,1.2,NaN,NaN,March,329.51,352.73
3,2018-01-03 00:00:00,1.36,1.21,2.58,NaN,NaN,April,561.41,507.45
4,2018-01-04 00:00:00,1.09,1.21,2.3,NaN,NaN,May,1105.16,1125.31
...,...,...,...,...,...,...,...,...,...
363,2018-12-29 00:00:00,4.23,6.12,10.35,NaN,NaN,NaN,NaN,NaN
364,2018-12-30 00:00:00,0.32,0.3,0.62,NaN,NaN,NaN,NaN,NaN
365,2018-12-31 00:00:00,0.38,0.38,0.76,NaN,NaN,NaN,NaN,NaN
366,2019-01-01 00:00:00,10.54,11.11,21.65,NaN,NaN,NaN,NaN,NaN
367,NaN,428.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN